body, html {
    background-color: transparent;
    color: black;
    font-size: 100%;
    color: lightgrey;
}

.navbar {
    background-color: #333;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #CCC;
}

.navbar-inverse .navbar-header a:hover {
    color: #CCC;
}

a {
    color: lightgrey;
    text-decoration: none;
}

    a:hover {
        color: #AAAAAA;
        text-decoration: none;
    }

.body-content {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 45px;
    font-weight: bold;
    color: lightgrey;
}

h2 {
    color: lightgrey;
    font-size: 24px;
}

h3 {
    color: lightgrey;
}

h4 {
    color: lightgrey;
}

p {
    font-size: 16px;
    font-weight: lighter;
    color: lightgrey;
}

.medium-size {
    height: 35px;
}

.small-size {
    height: 25px;
}

.gold {
    content: url('../Images/Medals/gold-transparent-bg.png');
}

.silver {
    content: url('../Images/Medals/silver-transparent-bg.png');
}

.bronze {
    content: url('../Images/Medals/bronze-transparent-bg.png');
}

.inline {
    display: inline-block;
}

.fav-button {
    /*float: right;*/
    margin-right: 20px;
}

.indented {
    margin-left: 10px !important;
}

.indented-top {
    margin-top: 20px !important;
}

.indented-top40 {
    margin-top: 40px !important;
}

.margin20 {
    margin: 20px;
}

.margin30 {
    margin: 30px;
}

.margin40 {
    margin: 40px;
}

.black_border {
    border: 1px black solid;
}

.profilePicture {
    width: 100%;
    max-width: 400px;
}

.fullPicture {
    width: 100%;
    max-width: 800px;
}

.flag {
    width: 50px;
}

.html-background-am {
    background: url("../Images/Venues/tenniscourt1.jpg") no-repeat center center fixed;
}

.html-background-pm {
    background: url("../Images/Venues/tenniscourt2.jpg") no-repeat center center fixed;
}

.html-background-1 {
    background: url("../Images/Venues/tenniscourt1.jpg") no-repeat center center fixed;
}

.html-background-2 {
    background: url("../Images/Venues/tenniscourt2.jpg") no-repeat center center fixed;
}

.html-background-3 {
    background: url("../Images/Venues/tenniscourt3.jpg") no-repeat center center fixed;
}

.html-background-4 {
    background: url("../Images/Venues/tenniscourt4.jpg") no-repeat center center fixed;
}

.background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p li {
    margin: 10px 0;
}

.detail-item {
    width: 400px;
}

#header-details {
    width: 100%;
}

#profile-image {
    /*float: right;*/
    /*margin: 0 0 20px 20px;*/
}

.center-text {
    text-align: center;
}

#main-logo {
    float: right;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#main-container {
    max-width: 990px;
    min-width: 950px;
    width: 950px;
}

#navbar-links {
    border: 1px gray solid;
}

#details-picture {
    text-align: center;
    margin: 40px;
}

.bold {
    font-weight: bold;
}

#next-button {
    float: right;
}

.navbar > .container {
    text-align: center;
}

.navbar-header {
    float: none;
    display: inline-block;
}

.navbar-brand {
    float: none;
    display: inline-block;
}

.navbar .navbar-nav {
    float: none;
    display: inline-block;
    clear: none;
}

    .navbar .navbar-nav > li {
        float: none;
        display: inline-block;
    }

        .navbar .navbar-nav > li li {
            text-align: left;
        }

.centered {
    width: 95%;
    margin: 0 auto;
    color: darkgray;
}

.player {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.player-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/*stop button from moving!!*/
.btn, .btn-primary, .btn:hover, .btn-primary:hover {
    border: none;
    margin: 0;
}

.fav-star {
    background: url('../Images/Stars/favorite.png');
    padding: 5px;
}

.fav-none {
    background: url('../Images/Stars/favorite-gray.png');
    padding: 5px;
}

.fav-star-image {
    content: url('../Images/Stars/favorite.png');
}

.fav-none-image {
    content: url('../Images/Stars/favorite-gray.png');
}

.fav {
    /*width: 36px;*/
    /*height: 36px;*/
}

.fav-small {
    width: 24px;
    height: 24px;
}

.fav-link {
    display: block;
    background-position: -0px -0px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding-left: 41px;
}

.bigTitle {
    font-size: 28px;
    font-weight: bold;
}

.body {
    padding-top: 0 !important;
}

#head-button {
    margin-top: -20px;
}

.indented40 {
    margin-left: 40px !important;
}