<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="centerednav" class="inline navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Player1", "ChangeHeadLeft", "Player", new { area = "" }, null)</li>
                <li><span>Vs.</span></li>
                <li>@Html.ActionLink("Player2", "ChangeHeadRight", "Player", new { rank = 1 }, null)</li>
            </ul>
        </div>
    </div>
</div>