@model WebApplication5.ViewModel.RandomPlayerViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Player.FirstName @Model.Player.LastName</h2>
@*@foreach(var players in Model.Player)*@